@model IEnumerable<BTLQLKH.Models.TRANGCHU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Noidung)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(item.Noidung)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTT }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTT })
        </td>
    </tr>
}

</table>
