@model BTLQLKH.Models.DSXK

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DSXK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HDXUATs.TenHDX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HDXUATs.TenHDX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHOHANGs.Tenkho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHOHANGs.Tenkho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluongban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giaban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giaban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngayxuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngayxuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nhanvienxuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhanvienxuat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Sophieuxuat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
